#.env, don't commit to repo
JWT_SECRET=mysecret
JWT_EXPIRES=1d # 24 hours in seconds
STUDENT_JWT_SECRET=mystudentsecret
STUDENT_JWT_EXPIRES=30d
FRONTEND_URL=http://localhost:3000
PORT=5000
TZ=America/Sao_Paulo
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:root@localhost:5432/gestao-tcc"